<div class="greeting">
  <div class="greeting-wrapper">
    <div class="greeting-top">
      <h2>株式会社 Healing Fujiyama</h2>
      <h3>〜 事業内容 〜</h3>
      <img class="mr_icon" src='/assets/publicdomainq-0032534fdxrdkfoajejojoai.jpg'>
    </div>
    <div class="greeting-content">
      <p>私たちはこんな仕事をしています</p>
      <p>株式会社 healing fujiyama</p>
      <p>人生って癒しが必要だよね</p>
      <p>no healing no life</p>
      <p>よろしくお願いします</p>
      <p></p>
    </div>
  </div>
  <div class="message-wrapper">
    <div class="container">
      <div class="heading">
        <h2>人生っていやしが必要だね</h2>
        <h3>~ NO HEALING NO LIFE ~</h3>
      </div>
      <div class="btn-wrapper">
        <a href="#" class="btn hello">Hello World!!</a>
        <a href="#" class="btn tel">tel</a>
        <a href="#" class="btn email">e-mail</a>
      </div>
    </div> 
  </div>
</div>