* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.heading{
  text-align:center;
}
/* ここからヘッダー部分 */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.7);
  position :fixed;
  z-index: 10;
  
}

.header-left h1{
  color:white;
  font-family: 'Quicksand', sans-serif;
  margin:0;
  
}

.header-left {
  float: left;
  padding:20;
  display: block;
  line-height: 65px;
  
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* menu-iconのCSS普段は隠蔽 */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}
/* ここまでヘッダー */

/* トップ部分 */

.top-wrapper {
  padding: 400px 0 100px 0;
  background-image: url('publicdomainq-0032534fdxrdk.jpg');
  background-size: cover;
  color: #444444;
  text-align: center;
}
.title-wrapper{
  width:60%;
  background-color: rgba(255,255,255,0.7);

  color:black;
  text-align:left; 
}
.title-masseage {
margin-left:10%;
/* padding:1px 0; */
}
/* ここまでトップ */

.us-icon{
  width:200px;
  height:200px;
  border-radius:200px;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}
.icon-title{
  position: absolute;
  top: 45%;
  width:100%;
  text-align:center;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  border-radius:20px;
  background-color:rgba(34, 49, 52, 0.7);
  color: white;
  width:180px;
  margin:auto;
}



.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
  padding:40px 0px;
}

.btn-wrapper p {
  margin: 10px 0;
}

.hello {
  background-color:#006633;
  
}

.tel {
  background-color: #FF9933;
}

.email {
  background-color: #CC6699;
}

.btn {
  width:200px;
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  margin-right: 10px;
  margin-bottom:10px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
